{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "__DEV__": true
  },
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    func-names: [1, "as-needed"],
    "jsx-quotes": [2, "prefer-double"],
    "no-confusing-arrow": 0,
    no-underscore-dangle: 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-boolean-value" : [2, "always"],
    "react/jsx-quotes": 0,
  }
}
